{% extends "knowledge/base.html" %}
{% load staticfiles %}
{% block title %}
	{% if gamedata.name %}
	<title>{{ gamedata.name }}</title>
	{% else %}
	<title>Game Knowledge</title>
	{% endif %}
{% endblock %}
{% block css %} 
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'knowledge/search.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'knowledge:index' %}">Game Knowledge</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search" action="{% url 'knowledge:search' %}">
				<div class="form-group">
					<input type="text" class="form-control" name="searchtext" value="{{ searchtext }}">
				</div>
				<button type="submit" class="btn btn-info">搜索</button>
				{% ifequal checked '1' %}
				<input type="radio" name="radio" value="1" checked="checked"><span>网游</span>
				{% else %}
				<input type="radio" name="radio" value="1"><span>网游</span>
				{% endifequal %}
				{% ifequal checked '2' %}
				<input type="radio" name="radio" value="2" checked="checked">页游
				{% else %}
				<input type="radio" name="radio" value="2">页游
				{% endifequal %}
				{% ifequal checked '3' %}
				<input type="radio" name="radio" value="3" checked="checked">单机
				{% else %}
				<input type="radio" name="radio" value="3">单机
				{% endifequal %}
				{% ifequal checked '4' %}
				<input type="radio" name="radio" value="4" checked="checked">Android
				{% else %}
				<input type="radio" name="radio" value="4">Android
				{% endifequal %}
				{% ifequal checked '5' %}
				<span><input type="radio" name="radio" value="5" checked="checked">iOS</span>
				{% else %}
				<span><input type="radio" name="radio" value="5">iOS</span>
				{% endifequal %}
			</form>
		</div>
	</nav>
	{% if gamedata %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">基本信息:</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-2">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/120x120" alt="120x120" src="{{ gamedata.iconLink }}">
						</a>
					</div>
					<div class="col-sm-6">
						<table class="table table-hover">
							<tr>
								<th>主类型：</th>
								<td>
									{% if gamedata.mainType %}
									{{ gamedata.mainType }}
									{% else %}
									未知
									{% endif %}
								</td>
								<th>次类型：</th>
								<td>
									{% if gamedata.subType %}
									{{ gamedata.subType }}
									{% else %}
									未知
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>资费：</th>
								<td>
									{% if gamedata.fee %}
									{{ gamedata.fee }}
									{% else %}
									免费
									{% endif %}
								</td>
								<th>最新版本：</th>
								<td>
									{% if gamedata.version %}
									{{ gamedata.version }}
									{% else %}
									未知
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>开发商：</th>
								<td>
									{% if gamedata.developer %}
									{{ gamedata.developer }}
									{% else %}
									未知
									{% endif %}
								</td>
								<th>大小：</th>
								<td>
									{% if gamedata.size %}
									{{ gamedata.size }}
									{% else %}
									未知
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>系统：</th>
								<td colspan="3">
									{% if gamedata.systemRequirement %}
									{{ gamedata.systemRequirement }}
									{% else %}
										{% ifequal checked '5' %}
										iOS 5.0以上
										{% else %}
										未知
										{% endifequal %}
									{% endif %}
								</td>
							</tr>
							{% if gamedata.tags %}
							<tr>
								<th>标签：</th>
								<td colspan="3">
									{% for tag in gamedata.tags %}
									{{ tag }}
									{% endfor %}			
								</td>
							</tr>
							{% endif %}
						</table>
						
					</div>
					<div class="col-sm-4">
						<div>
							{% if gamedata.summary %}
							<textarea class="form-control" rows="9" readonly>{{ gamedata.summary }}</textarea>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'knowledge:index' %}">No match Data！ Retry?! </a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search" action="{% url 'knowledge:adsearch' %}">
					<div class="form-group">
						<input type="text" class="form-control" name="searchtext" value="{{ searchtext }}">
					</div>
					<button type="submit" class="btn btn-primary">试试高级搜索？</button>
				</form>
			</div>
		</nav>

	{% endif %}
	{% if similargames %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">猜你喜欢:</h3>
		</div>
		<div class="panel-body">
			<!-- <p>same name</p>
			<p>similar name</p> -->
			{% for entry in similargames %}
			<div class="col-md-3 gameitem">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/240x240" alt="240x240" src="{{ entry.iconLink }}">
				</a>
				<h3><a href="{% url 'knowledge:game' entry.originalURL %}">{{ entry.name }}</a></h3>
				<p>{{ entry.subType }}</p>
			</div>
			{% endfor %}
			<div class="clearfloat"></div>
		</div>
	</div>
	{% endif %}
	{% if companygames %}
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">同个公司/开发者的其他游戏应用:</h3>
		</div>
		<div class="panel-body">
			<!-- <p>same company</p>
			<p>similar games</p> -->
			{% for entry in companygames %}
			<div class="col-md-3 gameitem">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/240x240" alt="240x240" src="{{ entry.iconLink }}">
				</a>
				<h3><a href="{% url 'knowledge:game' entry.originalURL %}">{{ entry.name }}</a></h3>
				<p>{{ entry.subType }}</p>
			</div>
			{% endfor %}
			<div class="clearfloat"></div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

