{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Game Knowledge Graph</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'knowledge/search.css' %}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'knowledge:index' %}">Game Knowledge Graph</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="{{ searchtext }}">
						</div>
						<button type="submit" class="btn btn-info">搜索</button>
					</form>
				</div>
			</nav>
			{% if gamedata %}
				<div class="alert alert-success">
					Well done!
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Basic Information:</h3>
					</div>
					<div class="panel-body">
						{{ gamedata.name }}
					</div>
				</div>
			{% else %}
				<div class="alert alert-info">
					No math Data, Please retry!!!
				</div>
			{% endif %}
			
		</div>
	</body>
</html>